body {
    background: #000000;
    margin: 1% 1% 1% 1%;
    /* padding: 0 0;
    margin: 0 0; */
}

.container {
    background: #8d8d8d;
    color: white;
    display: block;
    position: relative;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px 0px;
    justify-content: flex-start;
    align-items: flex-end; */
    height: 500px;
    width: 100%;
    /* overflow: hidden; */
    /* padding: 0 0;
    margin: 0; */
}

.element {
    /* background: linear-gradient(to top, #181818 0%, #474747 100%); */
    /* display: block; */
    position: absolute;
    /* text-align: center; */
    /* margin: auto; */
}

.active {
    background: linear-gradient(to top, #ff0000 0%, #ff0000 100%) !important;
}

.compare {
    background: linear-gradient(to top, #3cff00 0%, #2bff00 100%) !important;
}

.slider {
    display: flex;
    color: white;
    align-items: center;
}

#speed {
    width: 25%;
}

.count-slider {
    display: flex;
    color: white;
    align-items: center;
}

#speed {
    width: 25%;
}

#stats {
    position: absolute;
    color: white;
}